* {
    box-sizing: border-box;
}

body {
    background: rgb(3,12,76);
    background: linear-gradient(50deg, rgba(0,6,48,1) 4%, rgba(49,58,175,1) 70%, rgba(0,6,48,1) 94%);
    background: url('../imgs/background-gradient.jpg');
    background-size: cover;
    height: 100vh;
}

/* Welcome Page */

.welcome-container {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

h1.greeting {
    font-family: 'Oswald', sans-serif;
    color: #F4B701;
}

.greeting-first-line {
    display: block;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 40px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.greeting-mid-line {
    display: block;
    text-transform: lowercase;
    letter-spacing: 10px;
    font-size: 31px;
    font-weight: 300;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.greeting-second-line {
    margin-top: 40px;
    display: block;
    text-transform: uppercase;
    font-size: 75px;
    letter-spacing: 6px;
    background: linear-gradient(to right,#FDC621 10%, #F25A02 50%, #FDC621 80%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}


.btn-start:link,
.btn-start:visited {
    text-decoration: none;
    font-family: 'Ma Shan Zheng', cursive;
}

.btn-start {
    background-color: #fff;
    padding: 12px 32px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background:#F25A02;
    text-decoration: none;
    color: white;
    font-size: 30px;
    letter-spacing: .08em;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    transition: background .6s ease;
    overflow: hidden;
    border-radius: 20px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.btn-start:hover {
    background: #A13C02;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px)
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.tablo {
    display: flex;
    color: #FECB34;
    flex-direction: column;
    margin: 50px;
    height: 90vh;
    justify-content: space-between;
}

.category-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.category-box {
    border: solid #FECB34 3px;
    margin: -3px 0 0 -3px;
    width: 400px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 40px 10px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.category-box p {
    padding: 0;
    margin: 0;
}

.score-box:link,
.score-box:visited {
    text-decoration: none;
    color: #FECB34;
}

.score-box {
    border: solid #FECB34 3px;
    margin: -3px 0 0 -3px;
    flex-grow: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 40px 10px;
    text-align: center;
}

.score-box:hover {
    cursor: pointer;
    background-color: #fecb34;
    color: #030C4C;
}




.question-container {
    color:#FECB34;
    width: 80%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
}

.question {
    font-size: 45px;

}

.question-img {
    height: 50vh;
    border-radius: 5%;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
}

.question-move {
    animation-name: changeColor;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    color: #F15B04;
    font-size: 45px;
}
.question-img-move {
    height: 30vh;
    border-radius: 5%;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    animation-name: imgMove;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: -40px;
}

@keyframes changeColor {
    0% {
        color: #FECB34;
    }
    100% {
        color: #F15B04;
    }
}

@keyframes imgMove {
    0% {
        height: 50vh;
    }
    100% {
        height: 30vh;
    }
}

.answer {
    font-size: 45px;
    color: #FEE59A;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    display: block;
    margin-top: 80px;
    white-space: pre-wrap;
}

.answer-img {
    border-radius: 15px;
    width: 400px;
}

.show-answer-btn {
    all: unset;
    display: block;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fecb34;
    transition: background-color .6s ease;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    color: #030C4C;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}
.show-answer-btn:hover {
    background-color: #F15B04;
    color: #fff;
}

.back-btn {
    display: block;
    color: #fecb34;
    width: max-content;
    margin: 0 auto 10vh;
}
.back-btn-icon {
    color: #FECB34;
    font-size: 50px;
    transition: color .6s ease;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
}
.back-btn-icon:hover {
    color: #F15B04;
}